In [1]:
f = open("data.txt", "r")
lines = f.readlines()

In [2]:
#get dates
dates = []
print('Collecting dates..')
for line in lines:   
    if 'Effective' in line:
        split = line.split()
        date = f'{split[2]} {split[3]}'
#         print(date)
        dates.append(date)
    else:
        pass
print('Done!\n')
print(len(dates))

Collecting dates..
Done!

222

In [3]:
products_data = []
for line in lines:
    if 'Effective' in line:
        pass
    elif 'Product' in line:
        pass
    else:
        if len(line) > 2:
#             print(line.split())
            products_data.append(line.split())

In [4]:
len(products_data)

1505

In [5]:
product_names =[]
product_price = []
for product_data in products_data:
#     print(len(product_data))
    if len(product_data) == 4:
#         print(product_data)
        product_names.append(product_data[2])
        product_price.append(product_data[3])
        
    elif len(product_data)==2:
#         print(product_data)
        product_names.append(product_data[0])
        product_price.append(product_data[1])
        
    elif len(product_data)==3:
#         print(product_data)
        name = f'{product_data[0]} {product_data[1]}'
        product_names.append(name)
        product_price.append(product_data[2])

In [6]:
len(product_names)

1505

In [7]:
len(product_price)

1505

In [8]:
def get_date(dates, index):
    return dates[index]

In [9]:
import pandas as pd

df = pd.DataFrame(list(zip(product_names, product_price)), 
               columns =['Product Name', 'Price'])

In [10]:
date_index = 0
dates_updated =[]
for index, row in df.iterrows():
    product_name = row['Product Name']
    date = get_date(dates, date_index)
    dates_updated.append(date)
    
    if product_name == 'JP-1':
        date_index = date_index+1

In [11]:


df_updated = pd.DataFrame(list(zip(dates_updated,product_names, product_price)), 
               columns =['Date','Product Name', 'Price']) 
df_updated.set_index('Date', inplace=True)
df_updated.head(16)

                 Product Name   Price
Date
May 01,2020      E10 Gasoline   79.08
May 01,2020    Altron Premium   81.58
May 01,2020            Diesel    80.1
May 01,2020               LDO   47.51
May 01,2020               SKO   47.44
May 01,2020              JP-1   49.05
March 25,2020    E10 Gasoline   94.08
March 25,2020  Altron Premium   96.58
March 25,2020          Diesel  107.25
March 25,2020             LDO   62.51
March 25,2020             SKO   77.45
March 25,2020            JP-1   77.37
March 01,2020    E10 Gasoline  109.09
March 01,2020  Altron Premium  111.59
March 01,2020          Diesel  122.25
March 01,2020             LDO   77.51

In [12]:
df_updated.to_excel("clean_data.xlsx")

In [13]:
for index, row in df_updated.iterrows():
    product_name = row['Product Name']
    if product_name == 'E10 Gasoline':
        if row['Price']=='--':
            print(index)
#         print(row['Price'])

May 05,2019
September 01,2018
January 01,2018